asgiref==3.8.1
Django==4.2.20
django-vite==3.1.0
essentia-tensorflow==2.1b6.dev1110
numpy==1.26.4
yt-dlp==2025.2.19
PyYAML==6.0.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
whitenoise==6.9.0
django-cors-headers==4.7.0
black==25.1.0